/* Book (default) font for general content */
@font-face {
  font-family: "SegoeUI";
  src: url("./Segoe UI.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Bold font for headings */
@font-face {
  font-family: "Kamerik205Bold";
  src: url("./Kamerik205Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Bold font for headings */
@font-face {
  font-family: "SegoeUIBold";
  src: url("./Segoe UI Bold.woff") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Apply default font to all elements */
* {
  font-family: "SegoeUI", sans-serif;
}

/* Override headings to use bold font */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SegoeUIBold", sans-serif;
}
