.abpit_floating_cards_container {
  background-color: black;
  padding: 10%;
  padding-block: 10rem;
  text-align: center;
  margin-top: 10rem;
}
.abpit_floating_cards_container .card {
  height: 15rem;
  margin-top: -20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 5%;
  border-radius: 1.8rem;
  text-align: left;
  padding-inline: 2rem;
  transition-duration: 0.2s !important;
  cursor: default;
}
.abpit_floating_cards_container .card:hover {
  scale: 1.1;
}
.abpit_floating_cards_container .card span {
  font-size: 3.5rem;
}

.abpit_floating_cards_container .card h1 {
  font-size: 2rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .abpit_floating_cards_container {
    padding-block: 4rem;
    width: 100vw;
    margin: 0px;
  }

  .abpit_floating_cards_container .card {
    margin-top: 2rem; /* or 0rem */
    height: unset !important;
    margin: 0px;
    margin-bottom: 1rem;
  }
  .abpit_floating_cards_container .card span {
    font-size: 2.5rem !important;
  }
  .abpit_floating_cards_container .card h1 {
    font-size: 1.2rem;
  }
  .abpit_floating_cards_container .card p {
    font-size: 0.8rem;
  }
}
